
.sobre-web-design{
    align-items: center;
    justify-content: space-between;
    //article
    article{
        width: 250px;
        //h1
        h1{
            font-size: $font-h1;
            line-height: 90%;
            font-weight: bolder;
            color: $color-secundaria;
        }//end h1
        //h2
        h2{
            font-size: $font-h2;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 200%;
        }//end h2
        //h2,p
        h2,p{
            color: $color-primaria; 
        }
        //end h2,p

        //p
        p{
            text-align:left;
            margin: 10px 0px 30px 0px;
         }//end p

         //figcaption
         figcaption {
            //img
            img{
                width: 700px;
            }//end img
         }//end figcaption
    }//end article
}